<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Stock Information</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <!-- add [formGroup]="formModel" to let angular control the whole form -->
  <form [formGroup]="formModel" class="form-horizontal">

    <div class="box-body">

      <!-- in order to validate the form input, we need to add some rules -->
      <div class="form-group" [class.has-error]="formModel.get('name').touched && ( formModel.hasError('minlength', 'name') || formModel.hasError('required', 'name') )">
        <label for="name" class="col-sm-2 control-label">Stock Name</label>

        <div class="col-sm-8">
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Stock Name">
        </div>

        <!--if the input invalid, it will show some info-->
        <span class="help-block" [class.hidden]="formModel.get('name').untouched || !formModel.hasError('required', 'name')">
          require stock name
        </span>
        <span class="help-block" [class.hidden]="formModel.get('name').untouched || !formModel.hasError('minlength', 'name')">
          at least input 3 letters
        </span>
      </div>

      <div class="form-group" [class.has-error]="formModel.hasError('required', 'price')">
        <label for="price" class="col-sm-2 control-label">Stock Price</label>

        <div class="col-sm-6">
          <input formControlName="price" type="number" class="form-control" id="price" placeholder="Stock Price">
        </div>

        <span [class.hidden]="!formModel.hasError('required', 'price')">
          require stock price
        </span>

      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Rating</label>

        <div class="col-sm-10">

          <app-stars [readonly]="false" [(rating)]="stock.rating"></app-stars>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Description</label>

        <div class="col-sm-10">
          <textarea formControlName="desc" class="form-control" rows="5"></textarea>
        </div>
      </div>


      <!-- the self defined validator bind to checkbox group-->
      <div class="form-group" [class.has-error]="formModel.get('categories').touched && formModel.hasError('categoriesLength', 'categories')">
        <label class="col-sm-2 control-label">Stock Category</label>

        <div class="col-sm-10">


          <!--here means this array match from fb.array -->
          <div class="row" formArrayName="categories">

            <div *ngFor="let category of categories; let i = index" class="col-sm-2">

              <div class="checkbox">
                <label>
                  <input [formControlName]="i" type="checkbox"> {{category}} <!-- here formControlName is variable but not name. -->
                </label>
              </div>
            </div>


            <!--<div class="col-sm-2">-->

              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input type="checkbox"> Elec-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-sm-2">-->

              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--<input type="checkbox"> Finance-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->

          </div>

          <span [class.hidden]="formModel.get('categories').untouched || !formModel.hasError('categoriesLength', 'categories')">
            need check
          </span>

        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button (click)="cancel()" type="submit" class="btn btn-default">Cancel</button>

      <!--when formModel is invalid-->
      <button (click)="save()" [disabled]="formModel.invalid" type="submit" class="btn btn-info pull-right">Save</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>




























